#outImage {
    margin-top: 75px;
    max-width: 300px;
    max-height: 200px;
}

#selectImage {
    display: none;
}

.player-name {
    margin-top: 20px;
    font-size: 24px;
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    border: 0;
    max-width: 150px;
    overflow: hidden;
}

#saveNickName {
    border-bottom: solid 1px black;
}

#saveNickName:focus {
    border: 0;
    border-bottom: solid 1px black;
    outline-width: 0;
}

.discovery-settings {
    margin-top: 25px;
}

.saveNickNameIcon {
    height: 25px;
    max-width: 25px;
    display: inline-block;
    padding-bottom: 2px;
}

.select-settings {
    margin: 0 auto;
    width: 300px;
    padding-top: 10px;
}

select, label {
    color: grey;
    font-size: 14px;
    text-align: left;
    display:block;
    padding-bottom: 2px;
}

select {
    color: black;
    font-size: 16px;
    padding-left: 5px;
    height: 40px;
    width: 100%;
}

p {
    font-weight: bold;
    text-align: left;
    font-size: 18px;
    margin-top: 0;
}