#outImage {
    margin-top: 75px;
    max-width: 300px;
    max-height: 200px;
}

#selectImage {
    display: none;
}

.player-name {
    margin-top: 20px;
    font-size: 24px;
    color: grey;
}

.discovery-settings {
    margin-top: 25px;
}

.select-settings {
    margin: 0 auto;
    width: 300px;
    padding-top: 10px;
}

select, label {
    color: grey;
    font-size: 14px;
    text-align: left;
    display:block;
    padding-bottom: 2px;
}

select {
    color: black;
    font-size: 16px;
    padding-left: 5px;
    height: 40px;
    width: 100%;
}

p {
    font-weight: bold;
    text-align: left;
    font-size: 18px;
    margin-top: 0;
}