.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
    background-color: white;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 75px;
    box-shadow: 0 9px 29px;
    border: 1px  #CCC solid;
}

/* Style the links inside the navigation bar */
.navbar a {
    display: inline-block;
    color: grey;
    text-align: center;
    padding: 30px 25px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.navbar a:hover {
    color: black;
}

/* Add a green background color to the active link */
.navbar a.active {
    color: black;
}

/* Hide the link that should open and close the navbar on small screens */
.navbar .icon {
    display: none;
}